<h1>Details about <%= @task.title %></h1>
<div class="box">
  <p><%= @task.details %></p>

  <p>completed: <%= @task.completed %></p>

  <%=  link_to "edit", edit_task_path(@task.id) %>
  <i class="fa-solid fa-file-pen"></i>
  <br>
  <%= link_to "delete", delete_task_path(@task.id), data: {turbo_method: :delete, turbo_confirm: "are you sure?"} %>
  <i class="fa-sharp fa-solid fa-trash"></i>
  <br>
  <%=  link_to "back", tasks_path %>
  <i class="fa-solid fa-backward"></i>
</div>
